@import '~node_modules/modern-normalize/modern-normalize.css';
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 734px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

footer {
  padding-bottom: 62px;
}
@media screen and (min-width: 768px) {
  footer {
    padding-bottom: 13px;
  }
}
@media screen and (min-width: 1200px) {
  footer {
    padding-bottom: 11px;
  }
}

.footer__flex {
  height: 366px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 480px) {
  .footer__flex {
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .footer__flex {
    height: 256px;
    flex-wrap: wrap;
    flex-direction: unset;
    align-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .footer__flex {
    height: 210px;
  }
}

.footer--paragraph {
  width: 250px;
  padding-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: #fcfcfc;
}
@media screen and (min-width: 768px) {
  .footer--paragraph {
    width: 350px;
    font-size: 26px;
    line-height: 1.23;
    letter-spacing: 0.04em;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer--paragraph {
    padding-bottom: 14px;
    width: 100%;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.23;
    letter-spacing: 0.04em;
  }
}

.footer--head {
  width: 200px;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
}
@media screen and (min-width: 768px) {
  .footer--head {
    font-size: 48px;
    line-height: 1.22;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .footer--head {
    width: 100%;
    font-size: 58px;
    line-height: 1.22;
    letter-spacing: 0.06em;
  }
}

.footer--flex {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer--flex {
    padding-top: 68px;
  }
}
@media screen and (min-width: 1200px) {
  .footer--flex {
    padding-top: 8px;
  }
}

.footer__social {
  display: flex;
  padding-bottom: 28px;
  justify-content: flex-end;
  padding-left: 27px;
}

.footer__socials {
  padding-left: 27px;
}

.social-icons {
  fill: #84A178;
  transition: 300ms linear;
}
.social-icons:hover, .social-icons:focus {
  fill: white;
  transition: 300ms linear;
}

.footer__contact {
  display: flex;
  justify-content: flex-end;
}

.footer--contact {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.83;
  text-align: right;
  padding-right: 3px;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .footer--contact {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.02em;
  }
}

.footer--tel {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.83;
  text-align: right;
  color: #fcfcfc;
}
@media screen and (min-width: 768px) {
  .footer--tel {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.02em;
  }
}

.footer__rights {
  width: 100%;
}

hr {
  width: 100%;
}

.footer--rights {
  padding-top: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #7A7A7A;
}
@media screen and (min-width: 1200px) {
  .footer--rights {
    font-size: 12px;
    line-height: 1.83;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 480px) {
  br {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  br {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  br {
    display: none;
  }
}

.header {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 61px;
  padding-top: 12px;
}
@media screen and (max-width: 767.9px) {
  .header {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .header {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 20px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 45px;
  }
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__link {
  width: 60px;
  height: 65px;
}

.logo__svg {
  width: 100%;
  height: 100%;
  fill: #f8d24e;
}

.site-nav {
  z-index: 1;
}
@media screen and (max-width: 1199.9px) {
  .site-nav {
    display: none;
  }
}

.site-nav__list {
  display: flex;
  gap: 27px;
}

.site-nav__link {
  color: #ffffff;
  font-weight: 700;
  line-height: 1.25;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover {
  color: #f8d24e;
}

.mobile {
  margin-left: auto;
}
.mobile-menu__btn {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .mobile {
    margin-left: auto;
    margin-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .mobile {
    display: none;
  }
}

.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  min-width: 152px;
  height: 42px;
  padding: 12px 34px;
  background-color: #f8d24e;
  color: #131313;
  fill: #131313;
  stroke: #131313;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  font-weight: 600;
  line-height: 1.2142857143;
  z-index: 1;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__button:hover {
  background-color: #0a8817;
}
.header__button:focus {
  color: #ffffff;
  fill: #ffffff;
  stroke: #ffffff;
  background-color: #0a8817;
}
.header__button:disabled {
  background-color: #ababab;
}
@media screen and (max-width: 767.9px) {
  .header__button {
    display: none;
  }
}

.backdrop-mob {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: translateX(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .backdrop-mob {
    display: none;
  }
}
.backdrop-mob.is-open {
  background-color: #84a178;
  overflow-y: scroll;
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  z-index: 2;
  transform: translateX(0);
}

.mob-menu {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 63px;
  width: 100vw;
  height: 100vh;
}
@media screen and (max-width: 767.9px) {
  .mob-menu {
    max-width: 328px;
  }
}

.mob-menu__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-left: 31px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .mob-menu__wrap {
    padding-top: 20px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.mob-menu__nav {
  margin-top: 51px;
  margin-bottom: auto;
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .mob-menu__nav {
    margin-top: 76px;
  }
}

.mob-menu__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 111px;
}

.mob-menu__link {
  width: 60px;
  height: 65px;
  fill: #f8d24e;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.21875;
  color: #fcfcfc;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .mob-menu__link {
    font-size: 48px;
    line-height: 1.2291666667;
  }
}
.mob-menu__link:hover, .mob-menu__link:focus {
  color: #131313;
}

.mob-menu__close {
  fill: #fcfcfc;
  padding-top: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .mob-menu__close {
    padding-top: 32px;
  }
}
.mob-menu__close:hover, .mob-menu__close:focus {
  fill: #131313;
}

.mob-menu__button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 7px;
  margin-left: auto;
  margin-right: auto;
  width: 152px;
  height: 42px;
  background-color: #f8d24e;
  color: #131313;
  fill: #131313;
  stroke: #131313;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  font-weight: 600;
  line-height: 1.2142857143;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .mob-menu__button {
    display: none;
  }
}
.mob-menu__button:hover {
  background-color: #0a8817;
}
.mob-menu__button:focus {
  color: #ffffff;
  fill: #ffffff;
  stroke: #ffffff;
  background-color: #0a8817;
}
.mob-menu__button:disabled {
  background-color: #ababab;
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.swing:hover {
  -webkit-animation: swing 0.6s ease;
  animation: swing 0.6s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.grow {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.grow:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.hero {
  position: relative;
}
@media screen and (max-width: 767.9px) {
  .hero {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .hero {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 13px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-bottom: 65px;
  }
}

.hero__wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.hero__title {
  font-family: "Seymour One";
  text-transform: uppercase;
  color: #fcfcfc;
}
@media screen and (max-width: 767.9px) {
  .hero__title {
    padding-bottom: 32px;
    max-width: 247px;
    font-size: 26px;
    line-height: 1.2692307692;
  }
  .hero__title .increasing {
    font-size: 34px;
    line-height: 96.5%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .hero__title {
    padding-bottom: 20px;
    max-width: 182px;
    font-size: 18px;
    line-height: 1.2777777778;
  }
  .hero__title .increasing {
    font-size: 24px;
    line-height: 0.5416666667;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    padding-bottom: 28px;
    max-width: 367px;
    font-size: 38px;
    line-height: 1.2631578947;
  }
}

@media screen and (max-width: 767.9px) {
  .retail {
    display: none;
  }
}

.retail__amount {
  font-style: normal;
  font-weight: 900;
  text-align: right;
  text-transform: uppercase;
  color: #131313;
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .retail__amount {
    font-size: 28px;
    line-height: 1.2142857143;
  }
}
@media screen and (min-width: 1200px) {
  .retail__amount {
    font-size: 46px;
    line-height: 1.2173913043;
  }
}

.retail__type {
  text-align: right;
  color: #fcfcfc;
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .retail__type {
    font-size: 8px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 1200px) {
  .retail__type {
    width: 200px;
    line-height: 1.2142857143;
  }
}

.buttons {
  display: flex;
  align-items: center;
  color: inherit;
  background-color: transparent;
}
@media screen and (max-width: 767.9px) {
  .buttons {
    padding-bottom: 239px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .buttons {
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .buttons {
    margin-bottom: 42px;
  }
}

.button__bordered {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  font-weight: 600;
  color: #131313;
  z-index: 1;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199.9px) {
  .button__bordered {
    width: 62px;
    height: 24px;
    font-size: 8px;
    line-height: 1.25;
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .button__bordered {
    width: 134px;
    height: 42px;
    line-height: 1.2857142857;
    margin-right: 12px;
  }
}
.button__bordered:hover {
  border: 2px solid #0a8817;
}
.button__bordered:focus {
  color: #ffffff;
  border: 2px solid #0a8817;
}
.button__bordered:disabled {
  border: 2px solid #ababab;
}

.button__inverted {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-decoration-line: underline;
  color: #f8d24e;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}
@media screen and (max-width: 1199.9px) {
  .button__inverted {
    width: 82px;
    height: 24px;
    font-size: 8px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 1200px) {
  .button__inverted {
    width: 154px;
    height: 40px;
    line-height: 1.2142857143;
  }
}
.button__inverted:hover {
  color: #0a8817;
}
.button__inverted:focus {
  color: #ffffff;
}
.button__inverted:disabled {
  color: #ababab;
}

.thumb {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767.9px) {
  .thumb {
    display: none;
  }
}

.thumb__wrap {
  display: block;
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .thumb__wrap {
    margin-left: 33px;
    max-width: 151px;
  }
}
@media screen and (min-width: 1200px) {
  .thumb__wrap {
    margin-left: 14px;
    max-width: 220px;
  }
}

@media screen and (max-width: 767.9px) {
  .thumb__image {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .thumb__image {
    width: 152px;
  }
}
@media screen and (min-width: 1200px) {
  .thumb__image {
    width: 225px;
  }
}

.thumb__text {
  display: block;
  line-height: 140%;
  color: #fcfcfc;
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .thumb__text {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .thumb__text {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 14px;
  }
}

.thumb__svg {
  display: block;
  width: 40px;
  height: 16px;
  fill: #ffffff;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.thumb__svg:hover {
  transform: scale(1.1);
}
.thumb__svg:focus {
  transform: scale(1.15);
}

.bg-image-corn {
  position: absolute;
  height: 350px;
  bottom: -57px;
  left: 31px;
}
@media screen and (min-width: 766.9px) and (max-width: 767.9px) {
  .bg-image-corn {
    height: 305px;
    bottom: -38px;
    left: 44px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .bg-image-corn {
    height: 450px;
    bottom: -59px;
    left: 340px;
    z-index: -1;
  }
}
@media screen and (min-width: 1200px) {
  .bg-image-corn {
    height: 760px;
    bottom: -100px;
    left: 536px;
    z-index: 0;
  }
}

.bg-image-dots {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
}

.location {
  padding-top: 962px;
  padding-bottom: 39px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .location {
    padding-top: 285px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .location {
    padding-top: 506px;
    padding-bottom: 120px;
  }
}

.location__position {
  position: absolute;
  bottom: 171px;
  transform: translateX(-50%);
  left: 50%;
}
@media screen and (min-width: 768px) {
  .location__position {
    bottom: 142px;
  }
}
@media screen and (min-width: 1200px) {
  .location__position {
    bottom: 226px;
  }
}

.location__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .location__list {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .location__list {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
}

.location__card {
  width: 280px;
  height: 412px;
  padding: 24px 32px;
  background: #fcfcfc;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}
@media screen and (min-width: 768px) {
  .location__card {
    padding: 40px 24px;
    width: calc((100% - 32px) / 3);
    height: 528px;
  }
}
@media screen and (min-width: 1200px) {
  .location__card {
    padding: 40px;
    width: calc((100% - 64px) / 3);
    height: 538px;
  }
}

.location__box {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  background: #F8D24E;
  border-radius: 4px;
  margin-bottom: 20px;
}

.location__title-box {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #131313;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .location__title-box {
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .location__title-box {
    font-size: 16px;
  }
}

.location__connect {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.location__point {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.location__town {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .location__town {
    font-size: 14px;
    line-height: 1.86;
  }
}
@media screen and (min-width: 1200px) {
  .location__town {
    font-size: 16px;
    line-height: 1.88;
  }
}

.location__address {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: #D6936D;
}
@media screen and (min-width: 768px) {
  .location__address {
    font-size: 14px;
    line-height: 1.86;
  }
}
@media screen and (min-width: 1200px) {
  .location__address {
    font-size: 16px;
    line-height: 1.88;
  }
}
.location__address:hover, .location__address:focus {
  text-decoration: underline;
}

.location__separator {
  width: 100%;
  height: 1px;
  background: #E1E1E1;
}

.location__timing {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.location__item {
  display: flex;
  flex-direction: column;
}

.location__week {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .location__week {
    font-size: 14px;
    line-height: 1.86;
  }
}
@media screen and (min-width: 1200px) {
  .location__week {
    font-size: 16px;
    line-height: 1.88;
  }
}

.location__time {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #ABABAB;
}
@media screen and (min-width: 768px) {
  .location__time {
    font-size: 14px;
    line-height: 1.86;
  }
}
@media screen and (min-width: 1200px) {
  .location__time {
    font-size: 16px;
    line-height: 1.88;
  }
}

.location__contact-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .location__contact-item {
    font-size: 14px;
    line-height: 1.86;
  }
}
@media screen and (min-width: 1200px) {
  .location__contact-item {
    font-size: 16px;
    line-height: 1.88;
  }
}

.location__wrap-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .location__wrap-btn {
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .location__wrap-btn {
    flex-direction: row;
    justify-content: center;
  }
}

.location__btn {
  cursor: pointer;
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  width: 196px;
  padding: 12px 34px;
  background: #F8D24E;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  color: #131313;
  fill: #131313;
}
.location__btn:hover {
  background: #0A8817;
}
.location__btn:focus {
  background: #0A8817;
  color: #fcfcfc;
  fill: #fcfcfc;
}
.location__btn:default {
  background: #ABABAB;
}
.location__btn--franchise {
  background-color: transparent;
  border: 2px solid #F8D24E;
  border-radius: 10px;
}
.location__btn--franchise:hover {
  background-color: transparent;
  border: 2px solid #0A8817;
}
.location__btn--franchise:focus {
  color: #fcfcfc;
  fill: #fcfcfc;
  border: 2px solid #0A8817;
  background-color: transparent;
}
.location__btn--franchise:default {
  border: 2px solid #ABABAB;
  background-color: transparent;
}

.location__icon {
  fill: currentColor;
}

.about {
  padding-top: 60px;
}

.about__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .about__label {
    font-weight: 800;
    font-size: 22px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1200px) {
  .about__label {
    font-size: 30px;
    line-height: 1.2;
  }
}

.about__title {
  font-family: "Seymour One", sans-serif;
  font-size: 30px;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .about__title {
    font-weight: 400;
    font-size: 34px;
    line-height: 1.3;
    letter-spacing: 0.06em;
    margin-bottom: 72px;
  }
}
@media screen and (min-width: 1200px) {
  .about__title {
    font-size: 36px;
    line-height: 1.25;
    letter-spacing: 0.06em;
    margin-bottom: 82px;
  }
}

@media screen and (min-width: 768px) {
  .about-wrap {
    display: flex;
  }
}

.circle-wrap ::before {
  display: block;
  position: absolute;
  top: 22px;
  content: "";
  background-color: #fff;
  background-image: url(../images/made/cow-mob.png);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .circle-wrap ::before {
    background-image: url(../images/made/cow-mob2x.png);
  }
}
@media screen and (min-width: 768px) {
  .circle-wrap ::before {
    background-image: url(../images/made/cow-tab.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .circle-wrap ::before {
    background-image: url(../images/made/cow-tab2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .circle-wrap ::before {
    background-image: url(../images/made/cow-desc.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .circle-wrap ::before {
    background-image: url(../images/made/cow-desc2x.png);
  }
}

.circle {
  position: relative;
  margin: 0 auto;
  width: 278px;
  height: 278px;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #d9d9d9;
  border-radius: 50%;
  margin-bottom: 62px;
}
@media screen and (min-width: 768px) {
  .circle {
    width: 335px;
    height: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .circle {
    width: 500px;
    height: 500px;
    margin-bottom: 82px;
  }
}

@media screen and (min-width: 768px) {
  .about-paragraphs {
    margin-left: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .about-paragraphs {
    margin-left: 100px;
  }
}

@media screen and (max-width: 479px) {
  .about-paragraphs__txt--mob {
    display: none;
  }
}

.about-paragraphs__txt {
  margin: 0 auto;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.8;
  text-align: center;
  padding-left: 35px;
  padding-right: 35px;
}
.about-paragraphs__txt:last-child {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .about-paragraphs__txt {
    text-align: start;
    margin-bottom: 8px;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .about-paragraphs__txt {
    font-size: 16px;
    line-height: 1.76;
  }
}

.about__button {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 12px 34px;
  margin: 0 auto;
  margin-bottom: 42px;
  margin-top: 32px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  background: #f8d24e;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .about__button {
    margin-top: 48px;
    margin-left: 0;
  }
}

.recipe {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 28px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .recipe {
    padding-bottom: 204px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .recipe {
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .recipe__item {
    width: 152px;
  }
}
@media screen and (min-width: 1200px) {
  .recipe__item {
    width: 368px;
    text-align: center;
  }
}
.recipe__item::before {
  display: block;
  margin: 0 auto;
  content: "";
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
  background: #f8d24e;
  border-radius: 25px;
}
.recipe__item--cow::before {
  background-image: url(../images/made/cow-icn.svg);
}
.recipe__item--weight::before {
  background-image: url(../images/made/weight.svg);
}
.recipe__item--ice-cone::before {
  background-image: url(../images/made/ice\ crema.svg);
}

.recipe__number {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 18px;
}
@media screen and (min-width: 768px) {
  .recipe__number {
    font-size: 48px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1200px) {
  .recipe__number {
    font-weight: 700;
    font-size: 58px;
    line-height: 1.2;
  }
}

.recipe__txt {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .recipe__txt {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.74;
  }
}
@media screen and (min-width: 1200px) {
  .recipe__txt {
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.02em;
  }
}

.products {
  padding: 60px 0;
}

.products__head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 12px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .products__head {
    margin-bottom: 55px;
  }
}
@media screen and (min-width: 1200px) {
  .products__head {
    margin-bottom: 80px;
  }
}

.products__img {
  margin: 0 auto;
  background-image: url("../images/product/bgdo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products__img {
    background-image: url("../images/product/bgdt.jpg");
  }
}
@media screen and (min-width: 768px) {
  .products__img {
    background-image: url(../images/product/bgto.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products__img {
    background-image: url("../images/product/bgtt.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .products__img {
    margin-left: auto;
    margin-right: auto;
    height: 1050px;
    background-image: url(../images/product/bgdo.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__img {
    background-image: url("../images/product/bgdt.jpg");
  }
}

.products__header-subtitle {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2222222222;
  text-transform: uppercase;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .products__header-subtitle {
    font-size: 22px;
    line-height: 1.2272727273;
  }
}
@media screen and (min-width: 1200px) {
  .products__header-subtitle {
    font-size: 30px;
    line-height: 1.2333333333;
  }
}

.products__header-title {
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2666666667;
  text-transform: uppercase;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .products__header-title {
    font-size: 34px;
    line-height: 1.2647058824;
  }
}
@media screen and (min-width: 1200px) {
  .products__header-title {
    font-size: 36px;
    line-height: 1.25;
    letter-spacing: 0.06em;
  }
}

.products__content {
  width: 100%;
}

.products__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  gap: 50px;
}
@media screen and (min-width: 768px) {
  .products__list {
    flex-direction: row;
    gap: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .products__list {
    gap: 32px;
  }
}

.products__item {
  position: relative;
  margin-top: 110px;
}
@media screen and (min-width: 768px) {
  .products__item {
    width: calc((100% - 30px) / 3);
    margin-top: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item {
    margin-top: 180px;
  }
}

.products__item-wrap {
  background: #EFD478;
  border-radius: 24px;
  height: 420px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .products__item-wrap {
    height: 430px;
    padding-left: 26px;
    padding-right: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item-wrap {
    height: 535px;
    padding-left: 64px;
    padding-right: 64px;
  }
}
.products__item-wrap--one {
  background: #AEC6A5;
}
.products__item-wrap--two {
  background: #EFD478;
}
.products__item-wrap--three {
  background: #D6936D;
}
.products__item-wrap--one:before {
  background-image: url(../images/product/cream.png);
}
.products__item-wrap--two:before {
  background-image: url(../images/product/coffe.png);
}
.products__item-wrap--three:before {
  background-image: url(../images/product/milk.png);
}
.products__item-wrap:before {
  position: absolute;
  content: "";
  width: 201px;
  height: 211px;
  top: -100px;
  right: 50%;
  transform: translateX(50%);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .products__item-wrap:before {
    width: 201px;
    height: 211px;
    top: -100px;
    right: 50%;
    transform: translateX(50%);
  }
}
@media screen and (min-width: 1200px) {
  .products__item-wrap:before {
    width: 305px;
    height: 320px;
    top: -140px;
    right: 50%;
    transform: translateX(50%);
  }
}

.products__item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #131313;
  padding-top: 90px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .products__item-title {
    font-size: 22px;
    line-height: 1.2272727273;
    padding-top: 100px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item-title {
    font-size: 30;
    line-height: 1.2333333333;
    padding-top: 155px;
    margin-bottom: 65px;
  }
}

.products__item-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  color: #131313;
}
@media screen and (min-width: 1200px) {
  .products__item-description {
    font-size: 16px;
  }
}

.products__item-button {
  width: auto;
  height: 30px;
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .products__item-button {
    margin-bottom: 50px;
  }
}

.products__item-svg {
  fill: #131313;
  width: 40px;
  height: 20px;
  transition: transform 0.25ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  transform: scale(1);
}

.products__item-svg:hover {
  transform: scale(1.2);
  width: 45px;
  height: 25px;
}

.products__item-svg:focus {
  transform: scale(1, 2);
  width: 50px;
  height: 30px;
}

.modal__backdrop {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  opacity: 1;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__products.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) translateY(-500px);
}

.products__modal {
  padding: 30px 20px;
  width: 95%;
  background: #FCFCFC;
  border: 2px solid #F8D24E;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 320px;
}
@media screen and (min-width: 480px) {
  .products__modal {
    width: 450px;
    height: auto;
  }
}
@media screen and (min-width: 1200px) {
  .products__modal {
    width: 570px;
    height: auto;
  }
}

.button__close-products {
  width: 20px;
  height: 20px;
  z-index: 5;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 20px;
  padding: 0;
}

.icon__close-products {
  display: block;
  fill: #84a178;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.modal__form-products {
  margin-bottom: 30px;
  width: 100%;
}
.modal__header-products {
  text-align: center;
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #131313;
  margin-bottom: 22px;
}
@media screen and (min-width: 1200px) {
  .modal__header-products {
    margin-bottom: 24px;
  }
}

.modal__proructs-chocolad:before {
  background-image: url(../images/product/choc.png);
}
.modal__proructs-chocolad:before {
  position: absolute;
  content: "";
  width: 180px;
  height: 183px;
  right: 50%;
  transform: translateX(50%);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 24px;
  top: 98px;
}
@media screen and (min-width: 480px) {
  .modal__proructs-chocolad:before {
    top: 72px;
  }
}

.chocolad-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 184px;
  position: relative;
}

.chocolad-iteam {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  text-align: center;
  border: 2px solid #9CBE8F;
  border-radius: 40px;
  flex-direction: column-reverse;
  justify-content: space-between;
  width: 53px;
  height: 72px;
  padding-bottom: 5px;
  color: #131313;
}
@media screen and (min-width: 1200px) {
  .chocolad-iteam {
    width: 65px;
    height: 90px;
    font-size: 12px;
    line-height: 1.25;
  }
}

.chocolad-desc {
  font-weight: 500;
  font-size: 10px;
  line-height: 2.8;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: #131313;
  background: #9CBE8F;
  border: 2px solid #9CBE8F;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
  border-radius: 50%;
  width: 43px;
  height: 43px;
}
@media screen and (min-width: 1200px) {
  .chocolad-desc {
    font-size: 12px;
    line-height: 2.3333333333;
    width: 55px;
    height: 55px;
  }
}

.modal__proructs-ingridients {
  margin-top: 29px;
}
@media screen and (min-width: 1200px) {
  .modal__proructs-ingridients {
    margin-top: 48px;
  }
}

.ingridients__title {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  color: #131313;
  margin-bottom: 24px;
}

.ingridients__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
@media screen and (min-width: 1200px) {
  .ingridients__list {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.ingridients__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  color: #131313;
  display: flex;
  justify-content: space-between;
}

.ingridients__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  color: #131313;
}

.modal__proructs-info {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 1200px) {
  .modal__proructs-info {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.form__field-products {
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84A178;
  border-radius: 10px;
  width: 100%;
  padding: 11px;
}

.form__field-text {
  border-color: transparent;
  background-color: transparent;
  font-size: 14px;
  line-height: 1.4;
  color: #131313;
  resize: none;
  width: 100%;
}
.form__field-text::placeholder {
  font-size: 14px;
  line-height: 1.4;
  color: #131313;
  width: 100%;
}

.modal__products-button {
  width: 132px;
  height: 42px;
  background-color: #F8D24E;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2142857143;
  text-align: center;
  color: #131313;
}
.modal__products-button:hover {
  background-color: #0A8817;
}
.modal__products-button:focus {
  background-color: #0A8817;
  color: #ffffff;
}

.slider {
  padding: 186px 0 375px 0;
  background-image: url(../images/slider/slider/slider-bg-mob.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .slider {
    background-image: url(../images/slider/slider/slider-bg-mob@2x.jpg);
  }
}
@media screen and (min-width: 480px) {
  .slider {
    padding: 252px 0 382px 0;
  }
}
@media screen and (min-width: 768px) {
  .slider {
    padding: 223px 0 382px 0;
    background-image: url(../images/slider/slider/slider-bg-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .slider {
    background-image: url(../images/slider/slider/slider-bg-tab@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .slider {
    padding: 452px 0 206px 0;
    background-image: url(../images/slider/slider/slider-bg-desk.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .slider {
    background-image: url(../images/slider/slider/slider-bg-desk@2x.jpg);
  }
}

.position {
  width: 100%;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translate(-50%, 0);
}
@media screen and (min-width: 768px) {
  .position {
    top: -164px;
  }
}
@media screen and (min-width: 1200px) {
  .position {
    top: -94px;
  }
}

.gallery {
  max-width: 1012px;
}

.gallery__foto {
  border-radius: 24px;
}

.reviews {
  max-width: 968px;
  padding-bottom: 45px;
}

.reviews__foto {
  width: 84.9px;
  margin: 0 auto 32px auto;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .reviews__foto {
    margin: 0 auto 28px auto;
  }
}

.reviews__content {
  margin-bottom: 30px;
  padding: 34px 39px;
  color: #fcfcfc;
  background-color: #84a178;
  font-weight: 400;
  font-size: 12px;
  line-height: 2.55;
  text-align: center;
  border-radius: 24px;
}
@media screen and (min-width: 768px) {
  .reviews__content {
    margin-bottom: 32px;
    padding: 29px 80px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__content {
    padding: 39px 109px;
    font-size: 16px;
  }
}

.reviews__author {
  font-weight: 500;
  line-height: 1.86;
  text-align: center;
  color: #131313;
}

.swiper-pagination-bullet-active {
  background-color: #84a178;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.76;
  letter-spacing: 0.04em;
  color: #fcfcfc;
  background-color: #84a178;
}/*# sourceMappingURL=index.css.map */