.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and(min-width: 480px) {
    width: 480px;
  }

  @media screen and(min-width: 768px) {
    width: 734px;
  }

  @media screen and(min-width: 1200px) {
    width: 1200px;
  }
}
