.header {
  padding-top: 12px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 20px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 8px;
  }
  // padding: 0 20px 60px;

  // padding-left: 20px;
  // padding-right: 20px;
  // padding-bottom: 61px;

  // @media screen and (max-width: 767.9px) {
  //   max-width: 480px;
  //  }

  // @media screen and (min-width: 768px) and (max-width: 1199.9px) {
  //   padding-left: 32px;
  //   padding-right: 32px;
  //   padding-bottom: 40px;
  // }
  // @media screen and (min-width: 1200px) {
  //   padding-left: 15px;
  //   padding-right: 15px;
  //   padding-top: 8px;
  //   padding-bottom: 45px;
  // }
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__link {
  display: block;
  width: 40px;
  height: 37px;

  @media screen and (min-width: 768px) {
    width: 48px;
    height: 44px;
  }

  @media screen and (min-width: 1200px) {
    width: 60px;
    height: 65px;
  }

  // @media screen and (max-width: 767.9px) {
  //   margin-left: 3px;
  // }

  // @media screen and (min-width: 768px) and (max-width: 1199.9px) {
  //   margin-left: 3px;
  // }
}

.logo__svg {
  width: 100%;
  height: 100%;
  fill: $accent-color;
}

.site-nav {
  margin-right: 247px;
  margin-left: auto;
  // z-index: 1;

  @media screen and (max-width: 1199.9px) {
    display: none;
  }
}

.site-nav__list {
  display: flex;
  gap: 27px;
}

.site-nav__link {
  color: $white;
  font-weight: 700;
  line-height: calc(20 / 16);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: $accent-color;
  }
}

.mobile {
  margin-left: auto;

  // &-menu__btn {
  //   display: flex;
  //   align-items: center;
  // }

  // @media screen and (max-width: 767.9px) {
  //   margin-top: 4px;
  // margin-right: 5px;
  // }

  @media screen and (min-width: 768px) and (max-width: 1199.9px) {
    // margin-top: 10px;
    margin-right: 32px;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.mobile-menu__btn {
  display: flex;
}

.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;

  // min-width: 152px;
  height: 42px;
  padding: 12px 34px;

  background-color: $accent-color;
  color: $secondary-text-color;
  fill: $secondary-text-color;
  stroke: $secondary-text-color;

  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 10px;

  font-weight: 600;
  line-height: calc(17 / 14);

  // z-index: 1;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: #0a8817;
  }

  &:focus {
    color: $white;
    fill: $white;
    stroke: $white;
    background-color: #0a8817;
  }

  &:disabled {
    background-color: #ababab;
  }

  @media screen and (max-width: 767.9px) {
    display: none;
  }

  // @media screen and (min-width: 768px) and (max-width: 1199.9px) {
  //   margin-top: 12px;
  // }
}

// -----------------<Мобільне меню>
.backdrop-mob {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  background-color: $primary-bg-color;

  // pointer-events: none;
  // visibility: hidden;
  transform: translateX(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-open {
    // overflow-y: scroll;
    // opacity: 1;
    // visibility: visible;
    // pointer-events: initial;
    // z-index: 2;
    transform: translateX(0);
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.mob-menu {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  // margin-left: auto;
  // margin-right: auto;
  padding-top: 12px;
  padding-bottom: 63px;
  width: 100%;
  // width: 100vw;
  height: 100vh;

  @media screen and (min-width: 768px) {
    padding-top: 20px;
  }

  // @media screen and (max-width: 767.9px) {
  //   max-width: 480px;
  // }

  // @media screen and (min-width: 768px) and (max-width: 1199.9px) {
  //   max-width: 734px;
  // }
}

.mob-menu__wrap {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.mob-menu__nav {
  margin-top: 51px;
  margin-bottom: auto;
  text-align: center;

  @media screen and (min-width: 768px) and (max-width: 1199.9px) {
    margin-top: 76px;
  }
}

.mob-menu__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 111px;
}

// .mob-menu__logo {
// @media screen and (max-width: 767.9px) {
//   margin-left: 13px;
// }

//   @media screen and (min-width: 768px) and (max-width: 1199.9px) {
//     margin-left: 3px;
//   }
// }

.mob-menu__link {
  // width: 60px;
  // height: 65px;
  fill: $accent-color;

  font-weight: 700;
  font-size: 32px;
  line-height: calc(39 / 32);

  @media screen and (min-width: 768px) and (max-width: 1199.9px) {
    font-size: 48px;
    line-height: calc(59 / 48);
  }

  color: $primary-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $secondary-text-color;
  }
}

.mob-menu__logo {
  width: 40px;
  height: 37px;
  display: block;

  @media screen and (min-width: 768px) {
    width: 48px;
    height: 44px;
  }
}

.mob-menu__close {
  fill: $primary-text-color;
  display: flex;
  width: 32px;
  height: 32px;

  // @media screen and (max-width: 767.9px) {
  // margin-top: 10px;
  // margin-right: 6px;
  // margin-left: auto;
  // }

  // @media screen and (min-width: 768px) and (max-width: 1199.9px) {
  //   margin-top: 26px;
  //   margin-right: 6px;
  //   margin-left: auto;
  // }

  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $secondary-text-color;
  }
}

.mob-menu__button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 7px;
  margin-left: auto;
  margin-right: auto;

  width: 152px;
  height: 42px;

  background-color: $accent-color;
  color: $secondary-text-color;
  fill: $secondary-text-color;
  stroke: $secondary-text-color;

  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 10px;

  font-weight: 600;
  line-height: calc(17 / 14);

  @media screen and (min-width: 768px) and (max-width: 1199.9px) {
    display: none;
  }

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: #0a8817;
  }

  &:focus {
    color: $white;
    fill: $white;
    stroke: $white;
    background-color: #0a8817;
  }

  &:disabled {
    background-color: #ababab;
  }
}
