.hero {
  position: relative;
  padding-bottom: 65px;
}
.hero__container {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.hero__title {
  padding-bottom: 28px;

  font-family: 'Seymour One';
  text-transform: uppercase;
  color: $primary-text-color;

  @media screen and (min-width: 768px) and (max-width: 1199.9px) {
    max-width: 182px;
    font-size: 18px;
    line-height: calc(23 / 18);

    .increasing {
      font-size: 24px;
      line-height: calc(13 / 24);
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 367px;
    font-size: 38px;
    line-height: calc(48 / 38);
  }
}

.retail {
}
.retail__item {
}
.retail__amount {
  font-style: normal;
  font-weight: 900;
  text-align: right;
  text-transform: uppercase;
  color: $secondary-text-color;

  @media screen and (min-width: 768px) and (max-width: 1199.9px) {
    font-size: 28px;
    line-height: calc(34 / 28);
  }

  @media screen and (min-width: 1200px) {
    font-size: 46px;
    line-height: calc(56 / 46);
  }
}
.retail__type {
  text-align: right;
  color: $primary-text-color;

  @media screen and (min-width: 768px) and (max-width: 1199.9px) {
    font-size: 8px;
    line-height: calc(10 / 8);
  }
  @media screen and (min-width: 1200px) {
    width: 200px;
    line-height: calc(17 / 14);
  }
}
.buttons {
  margin-bottom: 42px;
  display: flex;
  align-items: center;
  color: inherit;
  background-color: transparent;
}
.button__bordered {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $accent-color;
  width: 134px;
  height: 42px;
  border-radius: 10px;

  font-weight: 600;
  line-height: calc(18 / 14);
  color: $secondary-text-color;

  &:hover {
    border: 2px solid #0a8817;
  }
  &:focus {
    color: $white;
    border: 2px solid #0a8817;
  }
  &:disabled {
    border: 2px solid #ababab;
  }
}
.button__inverted {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 154px;
  height: 40px;

  font-weight: 600;
  line-height: calc(17 / 14);
  text-decoration-line: underline;
  color: $accent-color;
  &:hover {
    color: #0a8817;
  }
  &:focus {
    color: $white;
  }
  &:disabled {
    color: #ababab;
  }
}
.thumb {
  display: flex;
  align-items: center;
}

.thumb__wrap {
  display: block;
  margin-left: 14px;
  max-width: 220px;
}

.thumb__text {
  padding-top: 30px;
  padding-bottom: 30px;
  display: block;
  font-size: 14px;
  line-height: 140%;
  color: $primary-text-color;
}

.thumb__svg {
  display: block;
  fill: $white;
}

.bg-image-corn {
  position: absolute;
  bottom: 0;
  left: 635px;
  max-width: 455px;
  background: radial-gradient(
    circle,
    rgba(248, 241, 241, 0) 40%,
    rgba(207, 255, 220, 0.483) 30%,
    rgba(190, 242, 202, 0) 65%
  );
}

.bg-image-dots {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
}
