.hero {
    position: relative;
    padding-top: 45px;
    padding-bottom: 65px;
}
.hero__container {
    display: flex;
    justify-content: space-between;
}
.hero__title {
    max-width: 367px;
    padding-bottom: 28px;

    font-family: 'Seymour One';
font-style: normal;
font-weight: 400;
font-size: 38px;
line-height: calc(48/38);
letter-spacing: 0.04em;
text-transform: uppercase;

color: #FCFCFC;
}

.retail {
}
.retail__item {
}
.retail__amount {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 900;
font-size: 46px;
line-height: calc(56/46);


text-align: right;
letter-spacing: 0.04em;
text-transform: uppercase;

color: #131313;

}
.retail__type {
    width: 200px;

    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: calc(17/14);


text-align: right;

color: #FCFCFC;

}
.buttons {
    display: block;
    margin-bottom: 42px;

}
.button__bordered {
}
.button__inverted {
}
.thumb {
    display: flex;
    align-items: center;
}
.thumb__text {
    max-width: 200px;
    margin-left: 14px;

    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
color: #FCFCFC;
}

.bg-image-corn{
    position: absolute;
    bottom: -75px;
    left: 650px;
    max-width: 484px;
    max-height: 590px;    
}

.bg-image-dots {
    position: absolute;

    z-index: -1;   
    // z-index: 1;   
    bottom: 0;
    left: 0;

}