.about {
  padding-top: 60px;
}

.about__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 12px;

  @media screen and(min-width:768px) {
    font-weight: 800;
    font-size: 22px;
    line-height: 1.2;
  }

  @media screen and(min-width:1200px) {
    font-size: 30px;
    line-height: 1.2;
  }
}

.about__title {
  font-family: 'Seymour One', sans-serif;
  font-size: 30px;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 32px;

  @media screen and(min-width:768px) {
    font-weight: 400;
    font-size: 34px;
    line-height: 1.3;
    letter-spacing: 0.06em;

    margin-bottom: 72px;
  }

  @media screen and(min-width:1200px) {
    font-size: 36px;
    line-height: 1.25;
    letter-spacing: 0.06em;
    margin-bottom: 82px;
  }
}

.about-wrap {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.circle-wrap {
  & ::before {
    display: block;
    position: absolute;
    top: 22px;
    content: '';
    background-color: #fff;
    background-image: url(../images/made/cow-mob.png);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & ::before {
      background-image: url(../images/made/cow-mob2x.png);
    }
  }
  @media screen and(min-width: 768px) {
    & ::before {
      background-image: url(../images/made/cow-tab.png);
    }

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & ::before {
        background-image: url(../images/made/cow-tab2x.png);
      }
    }
  }

  @media screen and(min-width: 1200px) {
    & ::before {
      background-image: url(../images/made/cow-desc.png);
    }

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & ::before {
        background-image: url(../images/made/cow-desc2x.png);
      }
    }
  }
}

.circle {
  position: relative;

  margin: 0 auto;
  width: 278px;
  height: 278px;
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  border-radius: 50%;

  margin-bottom: 62px;

  @media screen and (min-width: 768px) {
    width: 335px;
    height: 330px;
  }

  @media screen and (min-width: 1200px) {
    width: 500px;
    height: 500px;
    margin-bottom: 82px;
  }
}

.about-paragraphs {
  @media screen and (min-width: 768px) {
    margin-left: 32px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 100px;
  }
}

.about-paragraphs__txt--mob {
  @media screen and (max-width: 479px) {
    display: none;
  }
}

.about-paragraphs__txt {
  margin: 0 auto;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.8;
  text-align: center;

  padding-left: 35px;
  padding-right: 35px;

  &:last-child {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) {
    text-align: start;
    margin-bottom: 8px;
    padding: 0;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.76;
  }
}

.about__button {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 12px 34px;
  margin: 0 auto;
  margin-bottom: 42px;
  margin-top: 32px;

  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;

  background: #f8d24e;
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    margin-top: 48px;
    margin-left: 0;
  }
}

.advantages {
}
.recipe {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 28px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-bottom: 204px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.recipe__item {
  @media screen and (min-width: 768px) {
    width: 152px;
  }

  @media screen and (min-width: 1200px) {
    width: 368px;
    text-align: center;
  }

  &::before {
    display: block;
    margin: 0 auto;
    content: '';
    width: 50px;
    height: 50px;
    margin-bottom: 16px;

    background: #f8d24e;
    border-radius: 25px;
  }

  &--cow::before {
    background-image: url(../images/made/cow-icn.svg);
  }

  &--weight::before {
    background-image: url(../images/made/weight.svg);
  }

  &--ice-cone::before {
    background-image: url(../images/made/ice\ crema.svg);
  }
}

.recipe__number {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 18px;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.2;
  }

  @media screen and (min-width: 1200px) {
    font-weight: 700;
    font-size: 58px;
    line-height: 1.2;
  }
}
.recipe__txt {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.74;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.02em;
  }
}
