// -------------------------MODAL MADE--------------
.modal__backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;

  opacity: 1;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 2;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;

    .modal-made {
      opacity: 0;
      transform: translate(-50%, -50%) translateY(-500px);
    }
  }
}

.modal-made {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
  width: 95%;
  max-width: 568px;
  padding: 32px 60px;

  background-color: $primary-text-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  opacity: 1;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-made__cls-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal-made__name {
  font-family: 'Seymour One', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: $secondary-text-color;
  text-align: center;
}

.made-modal__video {
  border-radius: 10px;
  max-width: 448px;
}

.modal-made__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: $secondary-text-color;
}
