.modal__backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;

  opacity: 1;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 2;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;

    .buy__modal {
      opacity: 0;
      transform: translate(-50%, -50%) translateY(-500px);
    }
  }
}

.buy__modal {
  padding: 32px 20px;
  width: 95%;
  max-width: 450px;
  // max-height: 986px;

  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;

  position: absolute;
  top: 80%;
  left: 50%;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    max-width: 568px;
    top: 50%;
    left: 50%;
    height: auto;
  }
}

.button__close-buy {
  width: 20px;
  height: 20px;
  z-index: 5;
  border-radius: 100%;
  background-color: $white;
  color: $secondary-text-color;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
}

.icon__close-buy {
  display: block;
  fill: $secondary-text-color;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.modal__form-buy {
  margin-bottom: 24px;
  width: 100%;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.modal__header-buy {
  text-align: center;
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: $secondary-text-color;
  margin-bottom: 22px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.buy__list {
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  padding-left: 74px;
  padding-right: 74px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    padding-left: 34px;
    padding-right: 34px;
    gap: 32px;
  }
}

.buy__iteam {
  padding-top: 65px;
  width: 100%;
}
.buy__div {
  font-weight: 400;
  font-size: 10px;
  line-height: calc(12 / 10);
  min-height: 116px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 20px;

  position: relative;
  color: $secondary-text-color;

  @media screen and (min-width: 768px) {
    min-height: 130px;
  }

  &--one {
    border: 2px solid #96af8c;
    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
    border-radius: 15.7808px;
  }

  &--two {
    background: #efd478;
    border: 2px solid #efd478;
    box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
    border-radius: 15.7808px;
  }

  &--three {
    border: 2px solid #d6936d;
    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
    border-radius: 15.7808px;
  }

  &--one:before {
    background-image: url(../images/product/cream.png);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/product/cream2x.png');
    }
  }

  &--two:before {
    background-image: url(../images/product/coffe.png);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/product/coffe2x.png');
    }
  }

  &--three:before {
    background-image: url(../images/product/milk.png);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/product/milk2x.png');
    }
  }

  &:before {
    position: absolute;
    content: '';

    width: 142px;
    height: 152px;
    top: -70px;
    right: 50%;
    transform: translateX(50%);

    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;

    @media screen and (min-width: 768px) {
      width: 152px;
      height: 168px;
    }
  }
}

.buy__desc {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  text-transform: uppercase;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;

  color: $secondary-text-color;
}

.modal__buy-info {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (min-width: 768px) {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 40px;
  }
}

.buy__field-text {
  border-color: transparent;
  background-color: transparent;
  font-size: 14px;
  line-height: 1.4;
  color: $secondary-text-color;
  resize: none;
  width: 100%;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  width: 100%;
  padding: 11px;

  &::placeholder {
    font-size: 14px;
    line-height: 1.4;
    color: $secondary-text-color;
    width: 100%;
  }
}

.modal__buy-button {
  width: 132px;
  height: 42px;
  background-color: #f8d24e;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
  text-align: center;

  color: $secondary-text-color;

  &:hover {
    background-color: #0a8817;
  }

  &:focus {
    background-color: #0a8817;
    color: $white;
  }
}
