.products {
padding: 60px 0;
}

.products__head{
display: flex;
flex-direction: column;
justify-content: center; 
text-align: center;
gap: 12px;
margin-bottom: 30px;

@media screen and(min-width: 768px) {
        margin-bottom: 55px;
    }

    @media screen and(min-width: 1200px) {
        margin-bottom: 80px;
    }
}

.products__img{
margin: 0 auto;

    background-image:url("../images/product/bgdo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url("../images/product/bgdt.jpg");
    }


    @media screen and (min-width: 768px) {
    background-image: url(../images/product/bgto.jpg);

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {        
        background-image: url("../images/product/bgtt.jpg");
        }
    }
        @media screen and (min-width: 1200px) {
                    margin-left: auto;
                    margin-right: auto;
                    height: 1050px;
                    background-image: url(../images/product/bgdo.jpg);
    
                @media screen and (min-device-pixel-ratio: 2),
                screen and (min-resolution: 192dpi),
                screen and (min-resolution: 2dppx) {
                background-image: url("../images/product/bgdt.jpg");
                }
        }    
}


.products__header-subtitle{
font-weight: 800;
font-size: 18px;
line-height: calc(22/18);
text-transform: uppercase;

    color: $secondary-text-color;
    @media screen and(min-width: 768px) {
    font-size: 22px;
    line-height: calc(27/22);}

        @media screen and(min-width: 1200px) {
            font-size: 30px;
            line-height: calc(37/30);
        }
}
.products__header-title {
font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: calc(38/30);
    text-transform: uppercase;

    color: $secondary-text-color;


    @media screen and(min-width: 768px) {
        font-size: 34px;
        line-height: calc(43/34);
    }

    @media screen and(min-width: 1200px) {
            font-size: 36px;
            line-height: calc(45/36);
            letter-spacing: 0.06em;
    }
}

.products__content {
width: 100%;
}

.products__list {
display: flex;
flex-direction: column;
text-align: center;
width: 100%;
gap: 50px;
@media screen and(min-width: 768px) {
        flex-direction: row;
        gap: 16px;
    }

    @media screen and(min-width: 1200px) {
    gap: 32px; 
    }
}

.products__item {
position: relative;
margin-top: 110px;

@media screen and(min-width: 768px) {
    width: calc((100% - 30px) / 3);
    margin-top: 120px;
}

@media screen and(min-width: 1200px) {
    margin-top: 180px;
}
}

.products__item-wrap {
    background: #EFD478;
    border-radius: 24px;
    height: 420px;
    padding-left: 40px;
    padding-right: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

@media screen and(min-width: 768px) {
            height: 430px;
            padding-left: 26px;
            padding-right: 26px;
}
@media screen and(min-width: 1200px) {
            height: 535px;
            padding-left: 64px;
            padding-right: 64px;
}
&--one {
    background: #AEC6A5;
}

&--two {
    background: #EFD478;
}

&--three {
    background: #D6936D;
}
&--one:before {
    background-image: url(../images/product/cream.png);
}

&--two:before {
    background-image: url(../images/product/coffe.png);
}

&--three:before {
    background-image: url(../images/product/milk.png);
}
    &:before {
        position: absolute;
        content: '';
    
        width: 201px;
        height: 211px;
        top: -100px;
        right: 50%;
        transform: translateX(50%);
    
        background-color: transparent;
        background-size: contain;
        background-repeat: no-repeat;
    
    
    
    
        @media screen and(min-width: 768px) {
            width: 201px;
            height: 211px;
            top: -100px;
            right: 50%;
            transform: translateX(50%);
        }
    
        @media screen and(min-width: 1200px) {
            width: 305px;
            height: 320px;
            top: -140px;
            right: 50%;
            transform: translateX(50%);
        }
    }
}



.products__item-title{
    font-weight: 700;
    font-size: 20px;
    line-height: calc(24/20);
    text-transform: uppercase;

    color: $secondary-text-color;
    padding-top: 90px;
    margin-bottom: 40px;
    @media screen and(min-width: 768px) {
            font-size: 22px;
            line-height: calc(27/22);
            padding-top: 100px;
            margin-bottom: 50px;
        }
    
            @media screen and(min-width: 1200px) {
                font-size:30; 
                line-height: calc(37/30);
                padding-top: 155px;
                margin-bottom: 65px;
            }
}
.products__item-description{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.76;
        color: $secondary-text-color;
    
    @media screen and(min-width: 768px) { 
        
        }
    
        @media screen and(min-width: 1200px) {
            font-size: 16px;
        }
}

.products__item-button {
width: auto;
height: 30px;
margin-bottom: 10px;

    @media screen and(min-width: 1200px) {
        margin-bottom: 50px;
    }
}
.products__item-svg{
fill: $secondary-text-color;
width: 40px;
height: 20px;
transition: transform .250ms cubic-bezier(.4, 0, .2, 1);
display: block;
transform: scale(1);}

.products__item-svg:hover{
transform: scale(1.2);
width: 45px;
height: 25px;}

.products__item-svg:focus{
transform: scale(1,2);
width: 50px;
height: 30px;}


// -------------------------------------------------Modal------------------------------

.modal__backdrop {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    opacity: 1;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.2);

    position: fixed;
    top: 0;
    left: 0;
    
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__products.is-hidden {
    // visibility: hidden;
    opacity: 0;
    pointer-events: none;

}

.backdrop.is-hidden .modal {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(-500px);
}

.products__modal {
    padding: 30px 20px;
    width: 95%;
    background: #FCFCFC;
    border: 2px solid #F8D24E;
    border-radius: 10px;

    position: absolute;
    top: 50%;
    left: 50%;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    opacity: 1;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);


    width: 320px;

    @media screen and (min-width: 480px) {
        width: 450px;
        height: auto;

    }

    @media screen and (min-width: 1200px) {
    width: 570px;
    height: auto;
}}

.button__close-products {
    width: 20px;
    height: 20px;
    z-index: 5;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 20px;
    padding: 0;

}

.icon__close-products {
    display: block;
    fill: $primary-bg-color;
    transition-property: fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.modal__form-products {
    margin-bottom: 30px;
    width: 100%;
@media screen and (min-width: 480px) {
    }
}

.modal__header-products{
        text-align: center;
        font-family: 'Seymour One';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.4;
        color: $secondary-text-color;
        margin-bottom: 22px;

    @media screen and (min-width: 1200px) {
    margin-bottom: 24px;
    }}

.modal__proructs-chocolad{
    &:before {
        background-image: url(../images/product/choc.png);
    }

    &:before {
        position: absolute;
        content: '';

        width: 180px;
        height: 183px;
        right: 50%;
        transform: translateX(50%);

        background-color: transparent;
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: 24px;
        top: 98px;
        @media screen and (min-width: 480px) {
            top: 72px;  
            }
}}

.chocolad-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 184px;
    position: relative;
}

.chocolad-iteam {
    font-weight: 400;
        font-size: 10px;
        line-height: calc(12/10);
        display: flex;
        align-items: center;
        text-align: center;
        border: 2px solid #9CBE8F;
        border-radius: 40px;
        flex-direction: column-reverse;
        justify-content: space-between;
        width: 53px;
        height: 72px;
        padding-bottom: 5px;

        color: $secondary-text-color;

        @media screen and (min-width: 1200px) {
                width: 65px;
                height: 90px;
                font-size: 12px;
                line-height: calc(15/12);
            }
}

.chocolad-desc {
    font-weight: 500;
        font-size: 10px;
        line-height: 2.8;
                display: flex;
                align-content: center;
                justify-content: center;
                align-items: center;
    
        color: $secondary-text-color;
    
        background: #9CBE8F;
        border: 2px solid #9CBE8F;
        box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
        border-radius: 50%;
        width: 43px;
        height: 43px;

        @media screen and (min-width: 1200px) {
                font-size: 12px;
                line-height: calc(28/12);
                width: 55px;
                height: 55px;
            }
}

.modal__proructs-ingridients { 
margin-top: 29px;
@media screen and (min-width: 1200px) {
margin-top: 48px;
}}

.ingridients__title {
text-align: center;
font-weight: 500;
font-size: 20px;
line-height: calc(28/20);
color: $secondary-text-color;
margin-bottom: 24px;
}

.ingridients__list {
display: flex;
flex-direction: column;
gap: 11px;
@media screen and (min-width: 1200px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.ingridients__item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.76;
    color: $secondary-text-color;

    display: flex;
    justify-content: space-between;

}

.ingridients__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.76;
    color: $secondary-text-color;
}





.modal__proructs-info{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media screen and (min-width: 1200px) {
            padding-left: 80px;
            padding-right: 80px;
        }
}
.form__field-products{
    background: rgba(248, 210, 78, 0.1);
        border: 1px solid #84A178;
        border-radius: 10px;
        width: 100%;
        padding: 11px;
}
.form__field-text{
    border-color: transparent;
    background-color: transparent;
        font-size: 14px;
        line-height: 1.4;
        color: $secondary-text-color;
        resize: none;
        width: 100%;
        
        &::placeholder{
        font-size: 14px;
            line-height: 1.4;
            color: $secondary-text-color;
            width: 100%;
        }
}
.modal__products-button{
    width: 132px;
        height: 42px;
        background-color: #F8D24E;
        border-radius: 10px;
            font-weight: 600;
            font-size: 14px;
            line-height: calc(17/14);
            text-align: center;
        
            color: $secondary-text-color;
            &:hover{
                background-color: #0A8817;
            }
            &:focus{
                background-color: #0A8817;
                color: $white;

            }
}