.products {
  padding: 60px 0;

  @media screen and(min-width: 320px) {
    padding: 60px 15px;
  }
}

.products__head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 12px;
  margin-bottom: 40px;

  @media screen and(min-width: 768px) {
    margin-bottom: 80px;
  }

  @media screen and(min-width: 1200px) {
    margin-bottom: 120px;
  }
}

.products__img {
  margin: 0 auto;

  background-image: url('../images/product/bgdo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/product/bgdt.jpg');
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/product/bgto.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/product/bgtt.jpg');
    }
  }
  @media screen and (min-width: 1200px) {
    margin-left: auto;
    margin-right: auto;
    height: 1050px;
    background-image: url(../images/product/bgdo.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/product/bgdt.jpg');
    }
  }
}

.products__header-subtitle {
  font-weight: 800;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-transform: uppercase;

  color: $secondary-text-color;
  @media screen and(min-width: 768px) {
    font-size: 22px;
    line-height: calc(27 / 22);
  }

  @media screen and(min-width: 1200px) {
    font-size: 30px;
    line-height: calc(37 / 30);
  }
}
.products__header-title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: calc(38 / 30);
  text-transform: uppercase;

  color: $secondary-text-color;

  @media screen and(min-width: 768px) {
    font-size: 34px;
    line-height: calc(43 / 34);
  }

  @media screen and(min-width: 1200px) {
    font-size: 36px;
    line-height: calc(45 / 36);
    letter-spacing: 0.06em;
  }
}

.products__content {
  width: 100%;
}

.products__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  @media screen and(min-width: 768px) {
    flex-direction: row;
    gap: 16px;
  }

  @media screen and(min-width: 1200px) {
    gap: 32px;
  }
}

.products__item {
  position: relative;
  // height: 530px;
  margin-top: 110px;

  @media screen and(min-width: 768px) {
    // height: 550px;
    width: calc((100% - 30px) / 3);
    margin-top: 120px;
  }

  @media screen and(min-width: 1200px) {
    // height: 720px;
    margin-top: 180px;
  }
}

// .products__item-wrap::before{
// position: absolute;
// content: '';

// width: 201px;
// height: 211px;
// top: -100px;
// right: 50%;
// transform: translateX(50%);

// background-color: transparent;
// background-size: contain;
// background-repeat: no-repeat;

// &--one{
// background-image: url(../images/product/cream.png);
// }
// &--two {
//     background-image: url(../images/product/coffe.png);
// }
// &--three {
//     background-image: url(../images/product/milk.png);
// }

// @media screen and(min-width: 768px) {
//             width: 201px;
//             height: 211px;
//             top: -100px;
//     right: 50%;
//     transform: translateX(50%);
//     }

//     @media screen and(min-width: 1200px) {
//             width: 305px;
//             height: 320px;
//             top: -140px;
//     right: 50%;
//     transform: translateX(50%);
//     }
// }

.products__item-wrap {
  background: #efd478;
  border-radius: 24px;
  height: 420px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media screen and(min-width: 768px) {
    height: 430px;
    padding-left: 26px;
    padding-right: 26px;
  }
  @media screen and(min-width: 1200px) {
    height: 535px;
    padding-left: 64px;
    padding-right: 64px;
  }
  &--one:before {
    background-image: url(../images/product/cream.png);
  }

  &--two:before {
    background-image: url(../images/product/coffe.png);
  }

  &--three:before {
    background-image: url(../images/product/milk.png);
  }
  &:before {
    position: absolute;
    content: '';

    width: 201px;
    height: 211px;
    top: -100px;
    right: 50%;
    transform: translateX(50%);

    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;

    @media screen and(min-width: 768px) {
      width: 201px;
      height: 211px;
      top: -100px;
      right: 50%;
      transform: translateX(50%);
    }

    @media screen and(min-width: 1200px) {
      width: 305px;
      height: 320px;
      top: -140px;
      right: 50%;
      transform: translateX(50%);
    }
  }
}

.products__item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-transform: uppercase;

  color: $secondary-text-color;
  padding-top: 100px;
  margin-bottom: 40px;
  @media screen and(min-width: 768px) {
    font-size: 22px;
    line-height: calc(27 / 22);
    padding-top: 100px;
    margin-bottom: 50px;
  }

  @media screen and(min-width: 1200px) {
    font-size: 30;
    line-height: calc(37 / 30);
    padding-top: 155px;
    margin-bottom: 65px;
  }
}
.products__item-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;

  @media screen and(min-width: 768px) {
  }

  @media screen and(min-width: 1200px) {
    font-size: 16px;
  }
}

.products__item-button {
  width: 45px;
  height: 20px;
  background-color: antiquewhite;
  margin-bottom: 20px;

  @media screen and(min-width: 1200px) {
    margin-bottom: 90px;
  }
}
.products__item-svg {
  fill: $secondary-text-color;
  width: 40px;
  height: 100%;
}
