.slider {
  padding: 186px 0 375px 0;

  background-image: url(../images/slider/slider/slider-bg-mob.jpg);
  background-position: center;
  background-size: cover;

  position: relative;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/slider/slider/slider-bg-mob@2x.jpg);
  }

  @media screen and(min-width: 480px) {
    padding: 252px 0 382px 0;
  }

  @media screen and(min-width: 768px) {
    padding: 223px 0 382px 0;

    background-image: url(../images/slider/slider/slider-bg-tab.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/slider/slider/slider-bg-tab@2x.jpg);
    }
  }

  @media screen and(min-width: 1200px) {
    padding: 452px 0 206px 0;

    background-image: url(../images/slider/slider/slider-bg-desk.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/slider/slider/slider-bg-desk@2x.jpg);
    }
  }
}

.position {
  width: 100%;
  position: absolute;
  top: -25px;
  left: 50%;

  transform: translate(-50%, 0);

  @media screen and(min-width: 768px) {
    top: -164px;
  }

  @media screen and(min-width: 1200px) {
    top: -94px;
  }
}

.gallery {
  max-width: 1012px;
}

.gallery__foto {
  border-radius: 24px;
}

.reviews {
  max-width: 968px;
  padding-bottom: 45px;
}

.reviews__foto {
  width: 84.9px;
  margin: 0 auto 32px auto;
  border-radius: 50%;

  @media screen and (min-width: 768px) {
    margin: 0 auto 28px auto;
  }
}

.reviews__content {
  margin-bottom: 30px;
  padding: 34px 39px;
  color: $primary-text-color;
  background-color: $primary-bg-color;
  font-weight: 400;
  font-size: 12px;
  line-height: 2.55;
  text-align: center;
  border-radius: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    padding: 29px 80px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
  }

  @media screen and (min-width: 1200px) {
    padding: 39px 109px;
    font-size: 16px;
  }
}

.reviews__author {
  font-weight: 500;
  line-height: 1.86;
  text-align: center;
  color: $secondary-text-color;
}

.swiper-pagination-bullet-active {
  background-color: $primary-bg-color;
}
