@import './base/common';
@import './base/reset';
@import './base/vars';
@import './container';
@import './footer';
@import './header';
@import './hero';
@import './location';
@import './made';
@import './product';
@import './slider';

// font-family: 'Seymour One', sans-serif;

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.76;
  letter-spacing: 0.04em;
  color: $primary-text-color;
  background-color: $primary-bg-color;
}
