<footer class="footer">
   <div class="container">
    <div class="footer__flex">
    <div class="footer__head">
        <p class="footer--paragraph">homemade ice cream made</p>
        <h2 class="footer--head">with<br> passion</h2>
    </div>
    <div class="footer--flex">
    <div class="footer__social">
      <a href="https://github.com/" class="social-icons">
       <svg width="32" height="32">
        <use href="./images/footer/social-icons.svg#icon-github"></use>
       </svg>
      </a>
      <a href="https://web.telegram.org" class="social-icons">
       <svg width="32" height="32">
        <use href="./images/footer/social-icons.svg#icon-telegram"></use>
       </svg>
      </a>
      <a href="https://www.facebook.com/" class="social-icons">
       <svg width="32" height="32">
        <use href="./images/footer/social-icons.svg#icon-facebook"></use>
       </svg>
      </a>
    </div>
    <div class="footer__contact">
        <span class="footer--contact">Feel free to contact</span>
        <a href="tel:+617383766284" class="footer--tel">+61 (0) 383 766 284</a>
    </div>
   </div>
    <!-- <div><hr/></div> -->
   <div class="footer__right">
        <p class="footer--right">© 2022 - IceCream.<br>All Rights Reserved.</p>
   </div>
 </div>
</div>
</footer>
