<header class="header" id="hd">
  <div class="container">
    <div class="header__wrap">
      <a class="logo__link" href="./index.html">
        <svg class="logo__svg">
          <use href="./images/header/icons.svg#logo"></use>
        </svg>
      </a>

      <nav class="site-nav">
        <ul class="site-nav__list">
          <li class="site-nav__item">
            <a href="#" class="site-nav__link">Home</a>
          </li>
          <li class="site-nav__item">
            <a href="#about" class="site-nav__link">How it’s made?</a>
          </li>
          <li class="site-nav__item">
            <a href="#product" class="site-nav__link">Our products</a>
          </li>
          <li class="site-nav__item">
            <a href="#location" class="site-nav__link">Contact</a>
          </li>
        </ul>
      </nav>

      <div class="mobile">
        <button
          type="button"
          class="mobile-menu__btn js-open-menu"
          aria-expanded="false"
          aria-controls="menu-container"
        >
          <svg class="mobile__svg" width="32" height="32">
            <use href="./images/header/icons.svg#burger"></use>
          </svg>
        </button>
      </div>

      <button class="header__button" data-modal-open-header>
        Buy now
        <svg class="button__svg" width="12" height="12">
          <use href="./images/header/icons.svg#frame-45"></use>
        </svg>
      </button>
    </div>
  </div>

  <!--<Мобільне меню>-->
  <div class="backdrop-mob js-menu-container" id="menu-container">
    <div class="container">
      <div class="mob-menu">
        <div class="mob-menu__wrap">
          <a class="mob-menu__link" href="./index.html">
            <svg class="mob-menu__logo" width="60" height="65">
              <use href="./images/header/icons.svg#logo"></use>
            </svg>
          </a>
          <button class="mob-menu__btn mob-menu__close js-close-menu">
            <svg width="32" height="32" class="mob-menu__close-svg">
              <use href="./images/header/icons.svg#icon-ep_close"></use>
            </svg>
          </button>
        </div>

        <div class="mob-menu__nav">
          <ul class="mob-menu__list">
            <li class="mob-menu__item">
              <a href="#" class="mob-menu__link">Home</a>
            </li>
            <li class="mob-menu__item">
              <a href="#about" class="mob-menu__link">How it’s made?</a>
            </li>
            <li class="mob-menu__item">
              <a href="#product" class="mob-menu__link">Our products</a>
            </li>
            <li class="mob-menu__item">
              <a href="#location" class="mob-menu__link">Contact</a>
            </li>
          </ul>
        </div>

        <button class="mob-menu__button" data-modal-open-header-mod>
          Buy now
          <svg class="button__svg" width="12" height="12">
            <use href="./images/header/icons.svg#frame-45"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
