<article class="header container" id="hd">
  <div class="header__container">
    <a class="logo__link" href="./index.html">
      <svg class="logo__svg" width="60" height="65">
        <use href="./images/header/icons.svg#logo"></use>
      </svg>
    </a>

    <nav class="site-nav">
      <ul class="site-nav__list">
        <li class="site-nav__item">
          <a href="#" class="site-nav__link">Home</a>
        </li>
        <li class="site-nav__item">
          <a href="#" class="site-nav__link">How it’s made?</a>
        </li>
        <li class="site-nav__item">
          <a href="#" class="site-nav__link">Our products</a>
        </li>
        <li class="site-nav__item">
          <a href="#" class="site-nav__link">Contact</a>
        </li>
      </ul>
    </nav>

    <button class="header__button">
      Buy now
      <svg class="button__svg" width="12" height="12">
        <use href="./images/header/icons.svg#frame-45"></use>
      </svg>
      <!-- <img
      class="button__pic"
      src="./images/header/frame-45.png"
      alt="pointer"
      width="12"
  /> -->
    </button>
  </div>
</article>
