<article class="hero container" id="hr">
  <div class="hero__container">
    <h1 class="hero__title">
      ice cream made with <span class="increasing">passion</span>
    </h1>

    <ul class="retail">
      <li class="retail__item">
        <p class="retail__amount">16</p>
        <p class="retail__type">cafes</p>
      </li>
      <li>
        <p class="retail__amount">23</p>
        <p class="retail__type">food trucks</p>
      </li>
    </ul>
  </div>

  <div class="buttons">
    <a class="button__bordered" href="#">Products</a>
    <a class="button__inverted" href="#">How it’s made?</a>
  </div>

  <div class="thumb">
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/hero/dt-plate-icecream@1x.png 1x,
          ./images/hero/dt-plate-icecream@2x.png 2x
        "
      />

      <source
        media="(min-width: 768px)"
        srcset="
          ./images/hero/tab-plate-icecream@1x.png 1x,
          ./images/hero/tab-plate-icecream@2x.png 2x
        "
      />

      <img
        class="thumb__image"
        src="./images/hero/dt-plate-icecream@1x.png"
        alt="plate with ice-cream"
        width="225"
      />
    </picture>
    <div class="thumb__wrap">
      <p class="thumb__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <a href="#">
        <svg class="thumb__svg" width="41" height="16">
          <use href="./images/header/icons.svg#arrow"></use>
        </svg>
      </a>
    </div>
  </div>

  <picture>
    <source
      media="(min-width: 1200px)"
      srcset="
        ./images/hero/dt-icecream-corn@1x.png 1x,
        ./images/hero/dt-icecream-corn@2x.png 2x
      "
    />
    <source
      media="(min-width: 768px)"
      srcset="
        ./images/hero/tab-icecream-corn@1x.png 1x,
        ./images/hero/tab-icecream-corn@2x.png 2x
      "
    />
    <img
      class="bg-image-corn"
      src="./images/hero/tab-icecream-corn@1x.png"
      alt="ice-cream"
    />
  </picture>

  <picture>
    <source
      media="(min-width: 1200px)"
      srcset="./images/hero/dt-dots@1x.png 1x, ./images/hero/dt-dots@2x.png 2x"
    />
    <source
      media="(min-width: 768px)"
      srcset="
        ./images/hero/tab-dots@1x.png 1x,
        ./images/hero/tab-dots@2x.png 2x
      "
    />
    <img
      class="bg-image-dots"
      src="./images/hero/dt-dots@1x.png"
      alt="yellow dots"
    />
  </picture>
</article>
