<section class="location">
  <div class="container">
    <a name="location"></a>
    <h2 hidden>Локація</h2>
    <div class="location__position">
      <div class="container">
        <div class="location__list">
          <div class="location__card">
            <div class="location__box">
              <p class="location__title-box">Cafe</p>
            </div>

            <div class="location__connect">
              <ul class="location__point list">
                <li class="location__town">Chicago</li>
                <li class="location__address-box">
                  <a
                    class="location__address"
                    href="https://www.google.com/maps/place/10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+США/@41.7034016,-87.7797405,17z/data=!4m5!3m4!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b!8m2!3d41.7034016!4d-87.7797405"
                    target="_blank"
                    >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
                  >
                </li>
              </ul>

              <div class="location__separator"></div>

              <div class="location__timing">
                <ul class="location__item list">
                  <li class="location__week">Monday - Friday</li>
                  <li class="location__time">06:00 AM - 10:00 PM</li>
                </ul>
                <ul class="location__item list">
                  <li class="location__week">Saturday - Sunday</li>
                  <li class="location__time">08:00 AM - 16:00 PM</li>
                </ul>
              </div>

              <div class="location__separator"></div>

              <p class="location__contact-item">
                <a class="location__contact-item" href="tel:+610383766284">
                  +61(0) 383 766 284</a
                ><br class="location__contact-item" />
                <a
                  class="location__contact-item"
                  href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </p>
            </div>
          </div>

          <div class="location__card">
            <div class="location__box">
              <p class="location__title-box">Foodtruck</p>
            </div>

            <div class="location__connect">
              <ul class="location__point list">
                <li class="location__town">Los Angeles</li>
                <li class="location__address-box">
                  <a
                    class="location__address"
                    href="https://www.google.com/maps/place/1003+Manhattan+Ave,+Manhattan+Beach,+CA+90266,+США/@33.8835263,-118.4103286,19z/data=!4m5!3m4!1s0x80c2b3eca6743829:0x98448969b9b4373d!8m2!3d33.8835263!4d-118.4103286
"
                    target="_blank"
                    >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
                  >
                </li>
              </ul>

              <div class="location__separator"></div>

              <div class="location__timing">
                <ul class="location__item-timing list">
                  <li class="location__week">Monday - Friday</li>
                  <li class="location__time">06:00 AM - 10:00 PM</li>
                </ul>
                <ul class="location__item-timing list">
                  <li class="location__week">Saturday - Sunday</li>
                  <li class="location__time">08:00 AM - 16:00 PM</li>
                </ul>
              </div>

              <div class="location__separator"></div>

              <p class="location__contact-item">
                <a class="location__contact-item" href="tel:+610383766284">
                  +61(0) 383 766 284</a
                ><br class="location__contact-item" />
                <a
                  class="location__contact-item"
                  href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </p>
            </div>
          </div>

          <div class="location__card">
            <div class="location__box">
              <p class="location__title-box">Cafe</p>
            </div>

            <div class="location__connect">
              <ul class="location__point list">
                <li class="location__town">New York</li>
                <li class="location__address-box">
                  <a
                    class="location__address"
                    href="https://www.google.com/maps/place/726+Sterling+Pl,+Brooklyn,+NY+11216,+США/@40.6726938,-73.954734,17z/data=!4m5!3m4!1s0x89c25b9e1735b38f:0xb5fe454b88e9c2c0!8m2!3d40.6726938!4d-73.954734
"
                    target="_blank"
                    >726 Sterling Pl, Brooklyn, NY 11222, USA</a
                  >
                </li>
              </ul>

              <div class="location__separator"></div>

              <div class="location__timing">
                <ul class="location__item-timing list">
                  <li class="location__week">Monday - Friday</li>
                  <li class="location__time">06:00 AM - 10:00 PM</li>
                </ul>
                <ul class="location__item-timing list">
                  <li class="location__week">Saturday - Sunday</li>
                  <li class="location__time">08:00 AM - 16:00 PM</li>
                </ul>
              </div>

              <div class="location__separator"></div>

              <p class="location__contact-item">
                <a class="location__contact-item" href="tel:+610383766284">
                  +61(0) 383 766 284</a
                ><br class="location__contact-item" />
                <a
                  class="location__contact-item"
                  href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="location__wrap-btn">
      <button class="location__btn" type="button" data-modal-button="modal-4">
        Our Locations
        <svg class="location__icon" width="12" height="12">
          <use href="./images/location/symbol-defs.svg#icon-frame"></use>
        </svg>
      </button>

      <button
        class="location__btn location__btn--franchise"
        type="button"
        data-modal-button="modal-5"
      >
        Franchise
        <svg class="location__icon" width="12" height="12">
          <use href="./images/location/symbol-defs.svg#icon-frame"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
