<section class="location">
  <div class="container">
    <h2 hidden>Локація</h2>
    <div class="location__list">
      <div class="location__card">
        <div class="location__box">
          <p class="location__title-box">Cafe</p>
        </div>

        <ul class="location__item list">
          <li class="location__town">Chicago</li>
          <li class="location__address">
            10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
          </li>
        </ul>

        <div class="location__separator"></div>

        <ul class="location__item-timing list">
          <li class="location__week">Monday - Friday</li>
          <li class="location__time">06:00 AM - 10:00 PM</li>
        </ul>
        <ul class="location__item-timing list">
          <li class="location__week">Saturday - Sunday</li>
          <li class="location__time">08:00 AM - 16:00 PM</li>
        </ul>

        <div class="location__separator"></div>

        <ul class="location__contact list">
          <li>
            <a class="location__contact-item" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a class="location__contact-item" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </div>

      <div class="location__card">
        <div class="location__box">
          <p class="location__title-box">Foodtruck</p>
        </div>

        <ul class="location__item list">
          <li class="location__town">Los Angeles</li>
          <li class="location__address">
            1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
          </li>
        </ul>

        <div class="location__separator"></div>

        <ul class="location__item-timing list">
          <li class="location__week">Monday - Friday</li>
          <li class="location__time">06:00 AM - 10:00 PM</li>
        </ul>
        <ul class="location__item-timing list">
          <li class="location__week">Saturday - Sunday</li>
          <li class="location__time">08:00 AM - 16:00 PM</li>
        </ul>

        <div class="location__separator"></div>

        <ul class="location__contact list">
          <li>
            <a class="location__contact-item" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a class="location__contact-item" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </div>

      <div class="location__card">
        <div class="location__box">
          <p class="location__title-box">Cafe</p>
        </div>

        <ul class="location__item list">
          <li class="location__town">New York</li>
          <li class="location__address">
            726 Sterling Pl, Brooklyn, NY 11222, USA
          </li>
        </ul>

        <div class="location__separator"></div>

        <ul class="location__item-timing list">
          <li class="location__week">Monday - Friday</li>
          <li class="location__time">06:00 AM - 10:00 PM</li>
        </ul>
        <ul class="location__item-timing list">
          <li class="location__week">Saturday - Sunday</li>
          <li class="location__time">08:00 AM - 16:00 PM</li>
        </ul>

        <div class="location__separator"></div>

        <ul class="location__contact list">
          <li>
            <a class="location__contact-item" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a class="location__contact-item" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="location__wrap-btn">
      <button class="location__btn" type="button">Our Locations</button>
      <button class="location__btn location__btn--franchise" type="button">
        Franchise
      </button>
    </div>
  </div>
</section>
