<!-- Modal made -->
<div class="modal__backdrop is-hidden">
  <div class="modal-made">
    <button class="modal-made__cls-btn" type="button">
      <svg class="made-cls-icon" width="20" height="20">
        <use href="./images/made/icons-made.svg#icon-made-cls"></use>
      </svg>
    </button>
    <p class="modal-made__name">How it’s made?</p>
    <iframe
      class="made-modal__video"
      height="205"
      src="https://www.youtube.com/embed/H5Iz-EJT5zI"
      title="How it’s made?"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <p class="modal-made__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>
