<!----------------------- modal-isecream------------------------->

<div class="modal__backdrop is-hidden" data-modal-products data-modal-products-two data-modal-products-three>
  <div class="products__modal">
    <button
      type="button"
      class="button__close-products"
      data-modal-close-products data-modal-close-products-three data-modal-close-products-two >
      <svg class="icon__close-products" width="20" height="20">
        <use href="./images/product/iconsproduct.svg#icon-close-black"></use>
      </svg>
    </button>
    <form name="form" class="modal__form-products" action="">
      <p class="modal__header-products">Chololate icecream</p>
      <div class="modal__proructs-chocolad">
        <ul class="chocolad__list">
          <li class="chocolad__iteam">
            kcal
            <span class="chocolad__desc">320</span>
          </li>
          <li class="chocolad__iteam">
            Prot..
            <span class="chocolad__desc">4g</span>
          </li>
          <li class="chocolad__iteam">
            Fats
            <span class="chocolad__desc">8,2g</span>
          </li>
          <li class="chocolad__iteam">
            Carbs
            <span class="chocolad__desc">40,4g</span>
          </li>
        </ul>
      </div>
      <div class="modal__proructs-ingridients">
        <p class="ingridients__title">Ingredients</p>
        <ul class="ingridients__list">
          <li class="ingridients__item">
            Milk<span class="ingridients__desc">100 ml</span>
          </li>
          <li class="ingridients__item">
            Belgian chocolate<span class="ingridients__desc">20g</span>
          </li>
          <li class="ingridients__item">
            Cream<span class="ingridients__desc"></span>150 ml
          </li>
          <li class="ingridients__item">
            Cocoa powder<span class="ingridients__desc">30g</span>
          </li>
          <li class="ingridients__item">
            Sugar<span class="ingridients__desc"></span>40g
          </li>
          <li class="ingridients__item">
            Vanilla sugar<span class="ingridients__desc">10g</span>
          </li>
        </ul>
      </div>
      <div class="modal__proructs-info">
        <label class="form__field-products" for="name">
          <input
            class="form__field-text"
            type="text"
            name="name"
            id="name"
            autofocus
            placeholder="Name"
          />
        </label>
        <label class="form__field-products" for="tel">
          <input
            class="form__field-text"
            type="tel"
            name="tel"
            id="tel"
            placeholder="Phone"
          />
        </label>
        <label class="form__field-products" for="coment">
          <textarea
            class="form__field-text"
            name="coment"
            id="coment"
            rows="3"
            placeholder="Comment"
          ></textarea>
        </label>
      </div>
    </form>
    <button class="modal__products-button" type="submit">Submit</button>
  </div>
</div>
