<section class="products products__img">
  <div class="container">
    <a name="product"></a>
    <div class="products__head">
      <span class="products__header-subtitle"> 100% natural </span>
      <h2 class="products__header-title">products</h2>
    </div>
    <div class="products__content">
      <ul class="products__list">
        <li class="products__item">
          <div class="products__item-wrap products__item-wrap--one">
            <div class="products__item-wrapper">
              <h3 class="products__item-title">ice cream</h3>
              <p class="products__item-description">
                Soft ice cream with a delicate taste. Made with milk, cream,
                sugar and natural stabilizer
              </p>
            </div>
            <button class="products__item-button" data-modal-open-products>
              <svg class="products__item-svg">
                <use
                  class="product__item-use"
                  href="./images/product/iconsproduct.svg#icon-strelka"
                ></use>
              </svg>
            </button>
          </div>
        </li>
        <li class="products__item">
          <div class="products__item-wrap products__item-wrap--two">
            <div class="products__item-wrapper">
              <h3 class="products__item-title">ice coffee</h3>
              <p class="products__item-description">
                Fragrant invigorating drink created from 100% natural
                ingredients without the use of preservatives and flavor
                enhancers
              </p>
            </div>
            <button class="products__item-button" data-modal-open-products-two>
              <svg class="products__item-svg">
                <use
                  class="product__item-use"
                  href="./images/product/iconsproduct.svg#icon-strelka"
                ></use>
              </svg>
            </button>
          </div>
        </li>
        <li class="products__item">
          <div class="products__item-wrap products__item-wrap--three">
            <div class="products__item-wrapper">
              <h3 class="products__item-title">milkshakes</h3>
              <p class="products__item-description">
                Sweet drinks based on milk and ice cream, supplemented with
                syrups, fruits, berries and other sweets of your choice
              </p>
            </div>
            <button
              class="products__item-button"
              data-modal-open-products-three
            >
              <svg class="products__item-svg">
                <use
                  class="product__item-use"
                  href="./images/product/iconsproduct.svg#icon-strelka"
                ></use>
              </svg>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
