<section class="container products">
<div class="products__head">
    <span class="products__header-subtitle">
    100% natural
    </span>
    <h2 class="products__header-title">products</h2>
</div>
<div class="products__content">
    <ul class="products__list">
        <li class="products__item">
            <div class="products__item-wrap">
                <h3 class="products__item-title">
                ice cream
                </h3>
                <p class="products__item-description">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer</p>
                <button class="products__item-button"></button>
            </div>
        </li>
        <li class="products__item">
            <div class="products__item-wrap">
                <h3 class="products__item-title">
                ice coffee
                </h3>
                <p class="products__item-description">Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor enhancers</p>
                <button class="products__item-button"></button>
            </div>
        </li>
        <li class="products__item">
            <div class="products__item-wrap">
                <h3 class="products__item-title">
                milkshakes
                </h3>
                <p class="products__item-description">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your choice</p>
                <button class="products__item-button"></button> 
            </div>           
        </li>
    </ul>
</div>
</section>
